@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@700&display=swap');

body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

.titulo h1{
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    color: #75B79E;
    margin-bottom: 13px;
}

.titulo, .jogo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.cards{
    width: 950px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 34px;
    margin-top: 34px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 1s;
}

.card img {
    width: 100px;
    height: 100px;
}

.vira-card{
    transform: rotateY(180deg);
}

/* .bobrossparrot {
    background-image: url('./imagens/bobrossparrot.gif');
}

.explodyparrot{
    background-image: url('./imagens/explodyparrot.gif');
}

.fiestaparrot{
    background-image: url('./imagens/fiestaparrot.gif');
}

.metalparrot{
    background-image: url('./imagens/metalparrot.gif');
}

.revertitparrot {
    background-image: url('./imagens/revertitparrot.gif');
}

.triplesparrot{
    background-image: url('./imagens/triplesparrot.gif');
}

.unicornparrot{
    background-image: url('./imagens/unicornparrot.gif');
} */

@media (max-width:500px) {

    .cards{
        display: block;
        justify-content: center;
        align-items: center;
        width: 35%;
    }

    .card{
        margin-right: 0px;
    }

    .titulo h1{
        font-size: 36px;
    }
}
